#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--border);
}

header h1 {
  margin: 0;
  font-size: 1.125rem;
  line-height: 2rem;
  cursor: pointer;
}

header h1:hover {
  opacity: 0.6;
}

header nav {
  display: flex;
  align-items: stretch;
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--backgroundSecondary);
  outline: 2px solid var(--border);
  filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.125));
}

header nav a {
  display: flex;
  align-items: center;
  padding: 0.125rem 1rem;
  color: var(--text);
  text-decoration: none;
  font-size: 1rem;
  border: none;
}

header nav a:hover {
  background: var(--primary);
  color: var(--text);
}

fieldset label {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

header button {
  filter: drop-shadow(0 0.125rem 0.25rem rgba(0, 0, 0, 0.125));
}

/* Pegboard Overrides */

[data-board-item] {
  box-sizing: border-box;
  border-radius: 0.5em;

  user-select: none !important;

  background: lightgray;
  outline: 2px solid grey;

  color: #242424;
}

[data-board-item-ghost] {
  background: #6ba7f656;
  outline: 2px solid #61dbfb;
  border-radius: 0.5em;
}

[data-board-item-handle-x],
[data-board-item-handle-y] {
  opacity: 0;
}
